.loginPage__wrapp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
   margin-top: 200px;
}
.loginPage__wrapp h4{
   color: white;
   font-size: 32px;
   font-weight: 400;
}
.loginPage__wrapp a{
    border: none;
    outline: none;
    background-color: aqua  ;
    color: white;
    background-color: rgb(104, 112, 250);
    font-size: 24px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 4px;
}
